<h1 class="main">Engineer's Corner</h1>
<h4 class="sub">For job seeking Engineers...</h4><br><br><br><br>
<div class="row">
     <div class="col-md-6">
        <button class="homebuttu" routerLink="/login">Get started</button>
     </div>
     <div class="col-md-6">
        <img src="https://www.photohdx.com/images/2019/01/electronic-cricuit-dark-blue-background.jpg" alt="" width="400px" height="200px">
     </div>
</div><br><br>
<div class="sec">
    <h3 class="main2">Details of streams</h3><br>
    <div class="row">
        <div class="col-md-3" class="sec1">
            <h5>Electronics and Communication Engineering</h5>
            <p></p>
        </div>
        <div class="col-md-3" class="sec2">
            <h5>Electrical and Electronics Engineering</h5>
        </div>
        <div class="col-md-3" class="sec3">
            <h5>Mechanical Engineering</h5>
        </div>
    </div>
</div>