.main{
    font-size: 100px;
    margin-left: 50px;
    margin-top: 30px;
}
.sub{
    font-size: 25px;
    padding-left: 500px;
}
.homebuttu{
    margin-left: 200px;
    margin-top: 100px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: black;
    color: white;
}
/* .homebuttu :hover{
    background-color: black;
    color: white;
} */
.sec{
    background-color: royalblue;
    margin-bottom: 40px;
    color: black;
}
.main2{
    margin-left: 500px;
}
.sec1{
    margin-left: 30px;
}
.sec2{
    padding-left: 70px;
}
.sec3{
    padding-left: 80px;
}