<form class="form" #adminLogin = 'ngForm'>
    <h3>Welcome Admin</h3>
    <div class="form-group">
      <label for="exampleInputEmail1">User name</label>
      <input type="text" #username='ngModel' [class.is-invalid]='username.invalid && username.touched' class="form-control rounded-0" style="width: 450px;" name="username" [(ngModel)]='registeredAdmin.username' pattern="^[a][d][m][i][n]$" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" #password='ngModel' [class.is-invalid]='password.invalid && password.touched' class="form-control rounded-0" id="exampleInputPassword1" style="width: 450px;" name="password" [(ngModel)]='registeredAdmin.password' pattern="^[1][2][3][4][5]$" required>
    </div>
    <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" [disabled]="adminLogin.form.invalid" class="btn btn-primary" (click)="loginAdmin()">Submit</button>
  </form>
