<form class="form" style="margin: 100px" (ngSubmit) = "AddJob()" autocomplete="off">
    <h3>Add a new job</h3>
    <div class="form-group">
      <label>Name of job</label>
      <input type="text" class="form-control" name="j_name" [(ngModel)] = "jobItem.name" style="width: 450px;">
    </div>
    <div class="form-group">
      <label>Role of job</label>
      <input type="text" class="form-control" name="j_role" [(ngModel)]='jobItem.role' style="width: 450px;">
    </div>
    <div class="form-group">
      <label>No of vacancies</label>
      <input type="number" class="form-control" name="j_vacancy" [(ngModel)] = "jobItem.vacancy" style="width: 450px;">
    </div>
    <div class="form-group">
      <label>Job location</label>
      <input type="text" class="form-control" name="j_location" [(ngModel)] = "jobItem.location" style="width: 450px;">
    </div>
      <div class="form-group">
        <label>Name of organisation</label>
        <input type="text" class="form-control" name="j_organisation" [(ngModel)] = "jobItem.organisation" style="width: 450px;">
      </div>
      <div class="form-group">
        <label>Date of Updation</label>
        <input type="text" class="form-control" name="j_updation" [(ngModel)] = "jobItem.updation" style="width: 450px;">
      </div>
      <div class="form-group">
        <label>Last date of application</label>
        <input type="text" class="form-control" name="j_lastdate" [(ngModel)] = "jobItem.lastdate" style="width: 450px;">
      </div>
      <div class="form-group">
        <label>About the job</label>
        <input type="text" class="form-control" name="j_description" [(ngModel)] = "jobItem.description" style="width: 450px;">
      </div>
      <div class="form-group">
        <label>Application link</label>
        <input type="text" class="form-control" name="j_link" [(ngModel)] = "jobItem.link" style="width: 450px;">
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
